@font-face {
  font-family: 'Oregano';
  src: url('../src/fonts/Oregano-Regular.ttf');
}

@font-face {
  font-family: 'Expletus';
  src: url('../src/fonts/ExpletusSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'Expletus', 'Lucida Sans', sans-serif;
}

.App {  
  text-align: center;

  .App-body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

    #quote-box {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      padding: 20px;
      width: 45%;
      height: auto;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 10px 0.5px black;

      @media screen and (max-width: 720px) {
        width: 90%;
      }
 
      #text {
        margin-bottom: 10px;
      }
  
      #author {
        font-family: 'Oregano', 'Lucida Sans', sans-serif;
        font-size: calc(5px + 2vmin);
        margin-right: 2.5%;
        margin-bottom: 15px;
        align-self: flex-end;
      }

      .inferiorBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 10px;

        @media screen and (max-width: 375px) {
          display: flex;
          flex-direction: column-reverse;
        }    

        #new-quote {
          background-color: rgb(255, 255, 255);
          border-radius: 3px;
          border: 0px;
          color: white;
          padding: 0px;
          width: 110px;
          height: 50px;
          font-size: 15px;
          align-self: flex-end;
          cursor: pointer;
      
          @media screen and (max-width: 375px) {
            width: 60%;
            margin-bottom: 5px;
            align-self: center;
          }
        }        

        #new-quote:hover {
          transform: scale(1.12);          
        }

        #new-quote:active {
          transform: scale(0.80);
          transition: transform 0.2s;
        }

        #tweet-quote {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          height: 50px;
          width: 50px;
          text-decoration: none;
          border-radius: 5px;

          @media screen and (max-width: 375px) {
            align-self: center;
            width: 60%;
          }
        }
        
        #tweet-quote:hover {
          transform: scale(1.12);          
        };
        
        #tweet-quote:active {
          transform: scale(0.8);
          transition: transform 0.2s;
        }
      }
    }
  }
}





